---
layout: archive
permalink: /year-archive/
title: "Panopticon"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<p>A public diary for me to post each weekday:</p>
<ul>
  <li>What I plan to do today</li>
  <li>What I did yesterday</li>
  <li>Whether I completed yesterday's tasks</li>
</ul>
<p>
  The idea is to mimic the sprint-style daily updates that helped me be more productive during internships this year for my PhD work.
</p>
<p>
  My hope is that this page will serve as an anti-procrastination 
  <a href="https://en.wikipedia.org/wiki/Panopticon">panopticon</a> — while certainly no-one will care about the minutiae of my day to day, the fact that someone 
  <em>could</em> be watching will hopefully incentivize me to do the thing properly.
</p>

{% include base_path %}

<!-- Display the content of the two most recent posts -->
{% assign recent_posts = site.posts | slice: 0, 5 %}
{% for post in recent_posts %}
  <article>
    <h2>{{ post.date | date: '%Y-%m-%d' }}</h2>
    <div class="post-content">
      {{ post.content }}
    </div>
  </article>
  <hr>
{% endfor %}

{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  
  <!-- Exclude the recent posts from the archive list -->
  {% unless forloop.index0 < 5 %}
    {% if year != written_year %}
      <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
      {% capture written_year %}{{ year }}{% endcapture %}
    {% endif %}
    
    <!-- Create a link using the post's date -->
    <p>
      <a href="{{ post.url | relative_url }}">
        {{ post.date | date: '%Y-%m-%d' }}
      </a>
    </p>
  {% endunless %}
{% endfor %}
